/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --react-blue-color: #5ED3F3;
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s;
  /* for dark mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav_buttons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--react-blue-color);
  cursor: pointer;
  transition: color .3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --container-color: #252728;
}

/*========== Color changes in some parts of the website, in light theme ==========*/
.dark-theme .nav,
.dark-theme .nav_menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  box-shadow: 0 4px 20px hsl(207, 24%, 8%, .4);
}

.dark-theme .home_social-link {
  color: var(--react-blue-color)
}

.dark-theme .section_border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(207, 4%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 35%);
}

.dark-theme .change-theme {
  color: #F0DB4F
}

.dark-theme .text-box,
.dark-theme .qualification-circle {
  background-color: var(--container-color);
  /* box-shadow: 0 4px 20px hsl(207, 24%, 8%, .4); */
}

.dark-theme .left-container-arrow {
  border-left: 16px solid var(--container-color);
}

.dark-theme .right-container-arrow {
  border-right: 16px solid var(--container-color);
}

.dark-theme .timeline::after {
  background: hsl(207, 4%, 32%);
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section_border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
  /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: 100;
}

.nav {
  height: calc(var(--header-height) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  transition: background .4s;
  /* for dark mode animation */
}

.nav_logo {
  height: 30px;
  width: 30px;
}

.nav_toggle,
.nav_close {
  color: var(--title-color);
}

.nav_toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav_menu {
    position: fixed;
    width: 90%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: bottom .3s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 2rem 3rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: color .3s;
}

.nav_link:hover {
  color: var(--title-color);
}

.nav_link-logo {
  font-size: 1.25rem;
}

.nav_close {
  position: absolute;
  right: 1.5rem;
  bottom: .7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  bottom: 2rem;
}

/* Active link */
.active-link {
  color: var(--title-color);
}

/*=============== HOME ===============*/
.home_container {
  row-gap: 4rem;
  padding-top: 2rem;
}

.home_data {
  row-gap: 1.5rem;
}

.home_title {
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin-bottom: .5rem;
}

.home_portrait-container {
  position: relative;
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
  transition: background .4s;
  /* for dark mode animation */
}

.home-ai-portrait {
  width: 300px;
  height: 260px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.home-ai-portrait img {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.home_social {
  justify-self: center;
  display: flex;
  column-gap: 1.25rem;
}

.home_social-link {
  font-size: 1.25rem;
  color: var(--react-blue-color);
  transition: color .3s;
}

.home_social-link:hover {
  color: var(--title-color);
}

.home_info {
  display: grid;
  row-gap: 2rem;
  margin-top: -2rem;

}

.home_info-title {
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.home_info-description {
  font-family: var(--title-font);
  color: var(--title-color);
  text-align: justify;
  /* font-size: 1vw; */
}

.resume_link {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .95rem;
}

.resume-submit-logo {
  font-size: 1.5rem;
  transition: transform .3s;
  font-size: 1.5rem;
  font-weight: initial;
}

.resume-submit-logo:hover {
  transform: translateY(.25rem);
}

/*=============== BIOGRAPHY ===============*/
.biography_container {
  row-gap: 3.5rem;
}

.biography_data img {
  border-radius: 25px;
}

.biography_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biography_info-description {
  font-family: var(--title-font);
  color: var(--title-color);
  text-align: justify;
}

/*=============== SKILLS ===============*/
.skills_container {
  row-gap: 3.5rem;
}

.biography_info,
.skills_data {
  display: grid;
}

.skills_title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills-title-logo {
  font-size: 1rem;
  font-weight: initial;
}

.skills_info,
.skills_data,
.skills_img-container {
  display: grid;
}

.skills_info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills_data {
  justify-content: center;
  text-align: center;
}

.skills_img-container {
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .4s;
  /* for dark mode animation */
}

.skills_img-container img {
  width: 40px;
}

.skills_name {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills_subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

/* Animation skills */
.skills_img-container:hover img {
  animation: bounce-skills .6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translate(0);
  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translate(0);
  }
}

/*=============== QUALIFICATION ===============*/
.qualification {
  position: relative;
}

.qualification_container {
  row-gap: 3.5rem;
}

.qualification_title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.timeline-container:nth-child(1) {
  animation-delay: 0s;
}

.timeline-container:nth-child(2) {
  animation-delay: 1s;
}

.timeline-container:nth-child(3) {
  animation-delay: 2s;
}

.timeline-container:nth-child(4) {
  animation-delay: 3s;
}

.timeline-container:nth-child(5) {
  animation-delay: 4s;
}

.timeline-container:nth-child(6) {
  animation-delay: 5s;
}

@media screen and (max-width: 600px) {

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px !important;
  }

  .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0 !important;
  }

  .left-container .qualification-circle,
  .right-container .qualification-circle {
    left: 18.2px !important;
  }

  .left-container-arrow {
    transform: rotate(180deg);
    border-left: 0;
    left: -15px;
  }

}

.text-box {
  padding: 20px 30px;
  background-color: hsl(207, 4%, 95%);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  transition: background .4s;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.qualification-circle {
  background: hsl(207, 4%, 95%);
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  right: -8px;
  top: 32px;
  z-index: 10;
  transition: background .4s;
}

.right-container .qualification-circle {
  left: -13px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: .7px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.qualification_name {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  font-weight: 600;
}

.qualification_subtitle {
  display: inline-block;
  margin-bottom: 15px;
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

.qualification_info-title {
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 17px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 16px solid hsl(207, 4%, 95%);
  right: -15px;
  transition: border-left .4s;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 17px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid hsl(207, 4%, 95%);
  left: -14.6px;
  transition: border-right .4s;
}

/*=============== PROJECTS ===============*/
.projects_container {
  overflow: initial;
}

.projects_content {
  display: grid;
  justify-content: center;
}

.projects_img {
  width: 250px;
  border-radius: .75rem;
  margin-bottom: 1.25rem;
}

.projects_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects_title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
}

.projects_button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects_button .viev-demo-btn {
  font-size: 1rem;
  transition: transform .3s;
}

.projects_button:hover .viev-demo-btn {
  transform: translateX(.25rem);
}

/* Swiper class */
.projects_container .swiper-button-prev::after,
.projects_container .swiper-button-next::after {
  content: '';
}

.projects_container .swiper-button-prev,
.projects_container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color)
}

.projects_container .swiper-button-prev {
  left: -1rem;
  top: 4.5rem;
}

.projects_container .swiper-button-next {
  right: -1rem;
  top: 4.5rem;
}

.projects_container .swiper-slide {
  margin-bottom: 4.5rem;
}

.projects_container .swiper-pagination-bullets {
  bottom: 0;
}

.projects_container .swiper-pagination-bullet {
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects_container .swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

/*=============== CONTACT ===============*/
.contact_container {
  row-gap: 3.5rem;
}

.contact_title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact_title {
  font-size: 1rem;
  font-weight: initial;
}

.contact_info,
.contact_data,
.contact_form {
  display: grid;
}

.contact_info {
  row-gap: 2rem;
}

.contact_data {
  row-gap: .75rem;
}

.contact_data-title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_data-info {
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}

.contact_button {
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact-submit-logo {
  font-size: 1.5rem;
  transition: transform .3s;
}

.contact-submit-logo:hover {
  transform: translateX(.25rem);
}

.contact_form {
  position: relative;
  row-gap: 2rem;
}

.contact_form-div {
  position: relative;
  height: 4rem;
}

.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact_form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  transition: background .4s;
  /* for dark mode animation */
}

.contact_form-area {
  height: 10rem;
}

.contact_form-area textarea {
  resize: none;
}

.contact_form .contact_button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact_form .contact-submit-logo {
  font-size: 1.5rem;
  font-weight: initial;
}

.contact_message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}

/* Status color */
.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer_container {
  padding: 0 0 0.7rem;
  text-align: center;
}

.footer_social {
  display: flex;
  justify-content: center;
}

.footer_social {
  column-gap: 1.25rem;
}

.footer_social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer_social-link:hover {
  transform: translateY(-.15rem);
}

.footer_copy {
  display: block;
  margin-bottom: 6rem;
  margin-top: 1.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsl(207, 24%, 35% .15);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: 10;
  transition: bottom .3s, transform .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav_menu {
    padding-bottom: 4rem;
  }

  .nav_list {
    gap: 1rem 1.25rem;
  }

  .home_info {
    margin-top: -3rem;
  }

  .skills_info {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects_img {
    width: 200px;
    justify-self: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {

  .nav,
  .nav_menu {
    width: 380px;
  }

  .nav {
    margin: 0 auto;
  }

  .biography_data {
    margin: auto;
  }

  .biography_data img {
    max-width: 464px;
    max-height: 618px;
  }

  .home_info {
    margin-top: -2rem;
  }

  .skills_container {
    justify-content: center;
  }

  .projects_container {
    width: 400px;
  }

  .projects_container {
    overflow: hidden;
  }

  .projects_container .swiper-button-prev {
    left: 1rem;
  }

  .projects_container .swiper-button-next {
    right: 1rem;
  }
}

@media screen and (min-width: 767px) {

  .home_container,
  .biography_container {
    grid-template-columns: 1fr 1fr;
  }

  .home_data {
    order: 2;
  }

  .home_info:nth-child(2) {
    order: 3;
    text-align: left;
  }

  .home_info {
    margin-top: 8rem;
  }

  .home_info-description {
    padding-right: 0;
  }

  .skills_container,
  .qualification_container,
  .contact_container {
    grid-template-columns: repeat(2, max-content);
  }

  .skills_container {
    column-gap: 5rem;
  }

  .qualification_container {
    justify-content: center;
    column-gap: 10rem;
  }

  .projects_container {
    width: 500px;
  }

  .contact_form {
    width: 360px;
  }

  .contact_container {
    justify-content: center;
    column-gap: 8rem;
  }

}

/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: .4s;
  }

  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }

  .nav_link-logo,
  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_menu {
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    transition: background .4s;
  }

  .nav_list {
    display: flex;
    column-gap: 3rem;
  }

  .nav_link {
    font-size: var(--normal-font-size);
  }

  .home_container {
    padding-top: 0;
  }

  .home_info {
    margin-top: 10rem;
  }

  .biography_data img {
    max-width: 464px;
    max-height: 618px;
  }

  .footer_container {
    padding: 4rem 0 3rem;
  }

  .dark-theme .nav,
  .dark-theme .nav_menu {
    background-color: var(--body-color);
    box-shadow: none;
  }

  .change-theme {
    color: var(--react-blue-color)
  }

  .change-theme:hover {
    color: var(--title-color);
  }

  .section {
    padding-block: 6rem 0;
  }

  .home_title {
    font-size: 2.25rem;
  }

  .scrollup {
    right: 3rem;
  }

  .show-scroll {
    bottom: 5rem;
  }

  /* Change background header */
  .bg-header {
    box-shadow: 0 4px 20px hsl(207, 24%, 35%, .1);
  }

  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsl(207, 24%, 8%, .6);
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section_border {
    padding-bottom: 6rem;
  }

  .section_subtitle {
    margin-bottom: 5rem;
  }

  .home_title {
    font-size: var(--biggest-font-size);
  }

  .home_portrait-container {
    border-radius: 12.5rem;
  }

  .home-ai-portrait {
    width: 440px;
    height: 420px;
  }

  .home_data {
    row-gap: 2.5rem;
  }

  .home_social {
    column-gap: 2rem;
  }

  .home_social-link {
    font-size: 1.5rem;
  }

  .home_info {
    margin-top: 20rem;
  }

  .skills_container {
    column-gap: 10rem;
  }

  .skills_title {
    margin-bottom: 3rem;
  }

  .skills-title-logo {
    font-size: 1.25rem;
  }

  .skills_name {
    font-size: var(--normal-font-size)
  }

  .skills_info {
    gap: 3rem;
  }

  .qualification_container {
    column-gap: 14rem;
  }

  .qualification_name {
    font-size: var(--normal-font-size)
  }

  .projects_container {
    width: 900px;
  }

  .projects_container .swiper-button-prev,
  .projects_container .swiper-button-next {
    font-size: 3rem;
  }

  .projects_container .swiper-button-prev {
    left: -1rem;
  }

  .projects_container .swiper-button-next {
    right: -1rem;
  }

  .projects_container .swiper-slide {
    margin-bottom: 6.5rem;
  }

  .projects_img {
    width: 320px;
    margin-bottom: 2rem;
  }

  .contact_title {
    margin-bottom: 3rem;
  }

  .contact_title-logo {
    font-size: 1.25rem;
  }

  .contact_info {
    row-gap: 3rem;
  }

  .contact_data-info {
    font-size: var(--normal-font-size);
  }

  .contact_form {
    row-gap: 2.5rem;
  }
}